<!doctype html>
 
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script>
        $(function() {
            $( ".actionitems-date-widget" ).datepicker();
        });
        </script>
        <style>
             html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
             table { border-collapse: collapse; border-spacing: 0; }
             td, th { border: 1px solid #ddd; padding: 1em; text-align: left; }
             label {min-width: 100px; }
        </style>
    </head>

    <body>
        {% block 'actionitems_head' %}
        {% endblock 'actionitems_head' %}
    
        {% block 'actionitems_content' %}
        {% endblock 'actionitems_content' %}
    </body>
</html>
