{% extends "actionitems/base.html" %}
{% load url from future %}
{% load i18n %}

{% block 'actionitems_head' %}
    <p><a class="actionitem-close button" href="{% url 'actionitems_list' %}">{% trans 'Close' %}</a></p>
{% endblock 'actionitems_head' %}

{% block 'actionitems_content' %}
    {{ actionitem.id }}
   <form class="actionitem-form" action="{% url 'actionitems_create' %}" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <p><input class="actionitem-form button" type="submit" value="{% trans 'Submit' %}" /></p>
    </form>
{% endblock 'actionitems_content' %}
