{% load url from future %}
{% load i18n %}

<a class="actionitem-close button" href="{% url 'actionitems_list' %}">{% trans 'Close' %}</a>

{% comment %}
    If handling internally display an editable form, else display task information and a sync option.
{% endcomment %}

{% if 'internal' in actionitem.manager %}
    <form class="actionitem-form" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <label for="id_done">{% trans 'Done' %}</label>: 
            <input id="id_done" type="checkbox" name="done" {% if object.is_done %}checked{% endif %} /> 
        <input class="actionitem-form button" type="submit" value="{% trans 'Submit' %}" />
    </form>
{% else %}
    <form class="actionitem-form" action="sync/">
        {% for field in form %}
            <p>{{ field.label_tag }}: {{ field.value }}</p>
        {% endfor %}
        <label for="id_done">{% trans 'Done' %}</label>: 
            <input id="id_done" type="checkbox" name="done" {% if object.is_done %}checked{% endif %} disabled/>
        <input class="actionitem-form button" type="submit" value="{% trans 'Sync' %}" />
    </form>
{% endif %}
