{% extends "actionitems/base.html" %}
{% load url from future %}
{% load i18n %}

{% block 'actionitems_head' %}
    <h2>{% trans 'Action Items' %}</h2>
    <p><a href="{% url 'actionitems_create' %}">{% trans 'Add Action Item' %}</a></p>
{% endblock 'actionitems_head' %}

{% block 'actionitems_content' %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Excerpt</th>
            <th>Responsible</th>
            <th>Deadline</th>
            <th>Done</th>
            <th>Origin</th>
        </tr>
    </thead>
    <tbody>
    {% for actionitem in actionitems %}
        <tr>
            <td><a href="{% url 'actionitems_update' actionitem.id %}">{{ actionitem.id }}</a></td>
            <td>{{ actionitem.title }}</td>
            <td>{{ actionitem.responsible }}</td>
            <td>{{ actionitem.deadline }}</td>
            <td>{{ actionitem.done }}</td>
            <td>{{ actionitem.origin.id }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock 'actionitems_content' %}

